.App {
  text-align: center;
}

.App pre {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

div.App-content {
  width: 95%;
  margin: 0 auto;
}

header.clone-head {
  clear: both;
  border: solid 1px;
  padding: .5%;
}

.clone-nav ul {
  list-style-type: none;
  padding: 0;
}

.clone-nav li {
  display: block;
  font-size: small;
  margin-bottom: 8px;
}

.clone-nav .active {
    font-weight: 900;
}

nav.clone-nav {
  vertical-align: top;
  max-width: 180px;
  width: 20%;
  border: solid 1px;
  display: inline-block;
  padding: .5%;
}

section.clone-content {
  width: 74.5%;
  padding: 2%;
  border: solid 1px;
  display: inline-block;
}

div.col1, div.col2 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

div.CodeView {
    overflow: scroll;
    height: 80vh;
}

.clearfix{
  clear:both
}


